<section class="section-loan-application">
  <h2>Edit loan application</h2>

  <div class="back-button">
    <%= link_to "Back", my_loan_applications_with_status_path(status: "saved") %>    
  </div>

  <%= render 'form', loan_application: @loan_application %>
</section>
