<h1>Editing Loan Application</h1>

<%= link_to 'Show', @loan_application %> |
<%= link_to "Back", :back %> <strong>Link to previous visited page</strong>

<%= render 'form', loan_application: @loan_application %>