<section class="section-loan-application">
  <h2>New loan application</h2>

  <div class="back-button">
    <%= link_to "Back", my_loan_applications_path %>    
  </div>
  
  <%= render 'form', loan_application: @loan_application %>
</section>