<section class="section-add-withdraw-cash">
  
  <div class="input-area">
    <h2 class="heading">Add cash</h2>

    <%= form_tag new_charge_path, method: :get do %>
      <p>Enter amount:</p>
      $ <%= number_field_tag 'amount', nil, min: 1, max: 50000, required: true %>
      <%= submit_tag 'Add cash' %>
    <% end %>

    <div class="back-button">
      <%= link_to "Back", root_path %>
    </div>

  </div>

</section>