<section class="section-add-withdraw-cash">

    
  <div class="input-area">

    <h2 class="heading">Withdraw cash</h2>
    
    <%= form_tag withdraw_confirmation_path, method: :post do %>
      <p>Enter amount:</p>
      $ <%= number_field_tag 'amount', nil, min: 1, max: 50000, required: true %>
      <%= submit_tag 'Withdraw cash', data: { confirm: "Please confirm to withdraw cash." } %>
    <% end %>

    <div class="back-button">
      <%= link_to "Back", root_path %>
    </div>
  
  </div>

</section>