<section class="section-about-us">

  <h2>About us</h2>

  <p>p2pcollective.com is not a real peer-to-peer lending platform. It cannot handle real money transactions. I (Maxi Merrillees) built this web app over the space of two weeks as part of my web development course. Nevertheless, feel free to sign up for an account and look around! </br></br>
  I managed to complete the app with most of the basic features. You can add and withdraw (fake) cash, create loans, invest in other users' loans, and repay your outstanding loans. I had more features planned but ran out of time to imtplement them all. To learn more about me and my work, check out my website: <a href="http://www.maximerrillees.com/">maximerrillees.com</a></p>

</section>