<section class="section-how-this-works">
  
  <p class="disclaimer"><strong>Note:</strong> p2pcollective.com is not a real peer-to-peer lending platform. It cannot handle real money transactions. Maxi Merrillees created and submitted this web app as a project for his web development course. But feel free to sign up for an account and look around! To learn more about Maxi, check out <a href="http://www.maximerrillees.com/">maximerrillees.com</a></p>
  
  <h2>How this works</h2>

  <h3>What is p2pcollective?</h3>
  <p>p2pcolletive is a peer-to-peer lending platform. It matches borrowers with investors so they can perform transactions directly with eachother.</p>

  <h3>How is peer-to-peer lending different from traditional banking?</h3>
  <p>Currently, most borrowers loan money from a bank. The biggest downside is that banks charge high interest rates because they are expensive to run. Similarly, many investors put their money in a bank time deposit and earn a modest return on their investment.</p></br>
  <p>Peer-to-peer lending is a new concept that allows people to lend money to each other directly without having to go through a bank. This means borrowers can borrow money at lower interest rates, and investors can earn a higher interst rate for their investment. This is possible because peer-to-peer lending platforms are less costly to run compared to banks.</p>
  <h4>Traditional banking example</h4>
  <p>Pete wants to borrow $20,000 to buy a car. He applies for a personal loan at his bank and they offer him a loan with a rate of 12.4% p.a for five years. He accepts the loan knowing that he will have to pay a total of $6,937 in interest.</p></br>
  <p>Sally want to invest $20,000 in a time despoit. She decides to put the money in a five-year time deposit that earns 3.2% in interest per year. She will earn $640 per year in interst.</p></br>
  <p>The bank earns the difference between what they charge to Pete (12.4%) and what they pay to Sally (3.2%). The bank will earn 9.1%, or $1,820 in revenue per year. The bank uses this revenue to pay its staff, pay rent, and earn a profit.</p>
  
  <h4>Peer-to-peer lending example</h4>
  <p>Pete wants to borrow $20,000 to buy a car. He creates a five-year loan on p2pcollective.com and offers an interst rate of 8.6%p.a. His total interest payments will be $4,678.</p></br>
  <p>Sally want to invest $20,000 in a time despoit. She decides to invest the money be loaning it to Pete through p2pcollective.com so he can purchase his car. Shw will earn 6.2%, or $1,240 per year in interst.</p></br>
  <p>p2pcollective.com earns the difference between what Pete pays (8.6%) and what Sally recieves (6.2%). p2pcollective.com will earn 2.4%, or $480 in revenue per year. We this revenue to pay our staff, pay rent, and earn a profit.</p>
  <h4>Conclusion</h4>
  <p>Pete pays less interest by borrowing the money directly from Sally, and Sally earns a higher interest rate for loaning the money directly to Pete. p2pcollective earns less revenue compared to a bank, but can still earn a profit because its platform is less costly to run compared to a bank.</p>

  <h3>What's the catch?</h3>
  <p>For Pete, the borrower, there is no guarantee that will get the loan. He will only get the $20,000 he needs if his peers want to lend him the money. For Sally, the investor, there is no guarantee that she will be repaid. Her principal and interest repayments are at risk.</p>
  
  <h3>Still interested?</h3>
  <p>Create an account with us to browse through all the available investments or start your own loan.</p>

</section>