/*****************************************/
/*************SETUP***************/
/*****************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  // border: 0.2px solid rgb(255, 151, 151);
  border: 0.2px solid transaprent;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #4F4F4F;
}

html {
  background: white;
}

body {
  position: relative;
  height: 100vh;
  min-height: 650px;
  background: #F2F2F2;
  padding-bottom: 80px;
  max-width: 1300px;
  margin: 0 auto;
}


/*****************************************/
/*************HEADER***************/
/*****************************************/

header {
  background: #2F80ED;
}
.logo {
  display: inline-block;
  width: 49.5%;
  padding: 20px 0px 20px 5%;
  font-size: 200%;
  color: #F2F2F2;
}

/*****************************************/
/*************INPUT AREA SECTION***************/
/*****************************************/
.section-input-area {
  position: absolute;
  width: 70%;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  padding: 20px;
  border: 2px solid #2F80ED; 
  border-radius: 7px;
}

/*****************************************/
/*************FORM***************/
/*****************************************/
h2 {
  width: 100%;
  left: 50%;
  font-size: 150%;
  text-align: center;
  margin-bottom: 5px;
}

label {
  font-size: 100%;
}

input {
  width: 100%;
  margin: 5px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #4F4F4F;
}

textarea:focus, input:focus{
  outline: none;
}

.actions {
  display: inline-block;  
}

input[type="submit"] {
  width: 90px;
  margin: 0 auto;
  background: #2F80ED;
  border: none;
  border-radius: 4px;
  color: #F2F2F2;
  padding: 5px 0;
  font-size: 110%;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

form a {
  display: inline-block;
  width: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  background: #2F80ED;
  border: none;
  border-radius: 4px;
  color: #F2F2F2;
  padding: 5px 0;
  font-size: 110%;
  margin-left: 30px;
  margin-top: 10px;
}

.buttons {
  width: 215px;
  margin: 0 auto;
}

/*****************************************/
/*************BACK BUTTON***************/
/*****************************************/
.back {
  position: absolute;
  bottom: -70px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.back a {
  display: block;
  font-size: 120%;
  text-decoration: none;
  width: 100px;
  padding: 5px 15px;
  background: #2F80ED;
  color: #F2F2F2;
  border-radius: 5px;
}
/*****************************************/
/*************FOOTER***************/
/*****************************************/
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background: #2F80ED;
  text-align: center;
}