/*****************************************/
/*************SETUP***************/
/*****************************************/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 0.2px solid rgb(255, 151, 151); */
  border: 1px solid transaprent;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  min-height: 100vh;
  background: #F2F2F2;
  padding-bottom: 80px;
}


section {
  width: 100%;
}

/*****************************************/
/*************HEADER***************/
/*****************************************/
header {
  background: #2F80ED;
}
.logo {
  display: inline-block;
  width: 49.5%;
  padding: 0px 0px 0px 3%;
  font-size: 200%;
  color: #F2F2F2;
}

.nav-icon {
  display: inline-block;
  width: 49.5%;
  text-align: end;
  padding: 0px 3% 0px 0px;
  font-size: 200%;
  color: #F2F2F2;
}

header span {
  display: inline-block;
  width: 49.5%;
  text-align: center;
  padding: 15px 0px 15px 0px;
  
}

header span a {
  display: inline-block;
  font-size: 120%;
  padding: 5px 0px;
  text-align: center;
  width: 90%;
  background: #F2F2F2;
  color: #4F4F4F;
  border-radius: 5px;
  text-decoration: none;
}

/*****************************************/
/*************ACTIVE LOAN***************/
/*****************************************/
.promotion:nth-child(1) {
  margin-top: 20px;
}

.promotion {
  text-align: center;
  text-align: center;
  font-size: 120%;
  margin-top: 10px;
}

.one-active-loan {
  position: relative;
  width: 85%;
  margin: 30px auto;
  border-radius: 10px;
  color: #F2F2F2;
}

.one-active-loan:nth-child(even) {
  background: #4B8A66;
}

.one-active-loan:nth-child(odd) {
  background: rgb(240, 135, 43);
}

.one-active-loan h3 {
  position: relative;
  top: 5px;
  display: inline-block;
  padding-left: 10px;
  width: 69%;
  font-size: 150%;
}

.interest-rate {
  position: relative;
  display: inline-block;
  top: 10px;
  width: 29%;
  font-size: 200%;
}

.loan-amount {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  width: 25%;
  font-size: 120%;
  margin-top: 15px;
}

.funded-percentage {
  display: inline-block;
  padding: 10px 0px 10px 5px;
  width: 32%;
  font-size: 120%;
}

.loan-term {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  width: 38%;
  font-size: 120%;
}

.employment {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  width: 100%;
  font-size: 120%;
  margin-bottom: 5px;
}


/*****************************************/
/*************FOOTER***************/
/*****************************************/
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background: #2F80ED;
  text-align: center;
}