/*****************************************/
/*************SETUP***************/
/*****************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  // border: 0.2px solid rgb(255, 151, 151);
  border: 0.2px solid transaprent;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #4F4F4F;
}

html {
  background: white;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background: #F2F2F2;
  max-width: 480px;
  margin: 0 auto;
}

textarea:focus, 
input:focus,
select:focus {
  outline: none;
}

/*****************************************/
/*************HEADER***************/
/*****************************************/
header {
  background: #2F80ED;
}

.logo {
  display: inline-block;
  width: 49.5%;
  padding: 5px 0px 5px 3%;
  font-size: 150%;
  color: #F2F2F2;
  width: 70%;
}

.user-email {
  display: inline-block;
  padding: 0px 0px 10px 3%;
  font-size: 110%;
  color: #F2F2F2;
  width: 70%;
}

.nav-icon {
  display: inline-block;
  position: absolute;
  right: 3%;
  top: 10px;
  font-size: 200%;
  color: #F2F2F2;
}

/*****************************************/
/*************NOTICES***************/
/*****************************************/
#notice {
  text-align: center;
  margin: 25px auto 0 auto;
  color: green;
  margin-bottom: -20px;
  width: 80%;
}

/*****************************************/
/*************ACCOUNTS SECTION***************/
/*****************************************/
.section-accounts h2 {
  text-align: center;
  font-size: 200%;
  margin-bottom: -10px;
  margin-top: 40px;
}

.section-accounts {
  position: relative;
  width: 80%;
  margin: 30px auto 110px auto;
}

.section-accounts .account-div {
  position: relative;
  margin: 40px 0 8px 0;
}

.section-accounts .interact-div:nth-last-child(1) {
  margin-bottom: 40px;
}

.section-accounts .account,
.section-accounts .account a,
.section-accounts .account-balance a {
  display: inline-block;
  font-size: 120%;
  text-decoration: none;
}

.section-accounts .account-balance {
  position: absolute;
  right: 10px;
  top: 4px;
}

.section-accounts .interact-div a {
  text-decoration: none;
  font-size: 110%;
}

/*****************************************/
/*************ACCOUNTS HISTORY SECTION***************/
/*****************************************/
.section-history-section {
  margin: 30px auto 110px auto;
}

.section-history-section h2 {
  text-align: center;
  font-size: 200%;
}

.section-history-section .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 15px 0;
  background: #2F80ED;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-history-section .back-button a {
  text-decoration: none;
  font-size: 120%; 
  color: #F2F2F2;
}

.section-history-section .whole-table {
  width: 90%;
  margin: 0 auto;
}

.section-history-section .column-heading {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #2F80ED;
}

.section-history-section .one-transaction {
  width: 90%;
  margin-top: 20px;
}

.section-history-section .column-date {
  display: inline-block;
  width: 35%;
}

.section-history-section .column-amount {
  display: inline-block;
  width: 35%;
}

.section-history-section .column-balance {
  display: inline-block;
  width: 28%;
}

.section-history-section .row-description p {
  margin-top: 3px;
  font-size: 80%;
}

/*****************************************/
/*************ADD/WITHDRAW CASH SECTION***************/
/*****************************************/
.section-add-withdraw-cash {
  position: relative;
  width: 80%;
  margin: 70px auto 110px auto;
  height: 400px;
}

.section-add-withdraw-cash .input-area .heading {
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translate(-50%, 0);
  font-size: 200%;
  width: 100%;
  text-align: center;
}

.section-add-withdraw-cash .input-area {
  position: relative;
  padding: 15px;
  border: 1px solid #2F80ED;
  border-radius: 7px;
  top: 50%;
  transform: translate(0%, -50%);
}

.section-add-withdraw-cash .input-area p{
  padding: 10px 0;
  font-size: 110%;
}

.section-add-withdraw-cash form {
  font-size: 130%;
}

.section-add-withdraw-cash .input-area input[type="text"] {
  background: none;
  width:90%;
  border: none;
  border-bottom: 1px solid #4F4F4F;
  font-size: 130%;
}

.section-add-withdraw-cash .input-area input[type="submit"] {
  display: block;
  margin: 30px 0 10px 0;
  font-size: 100%;
  padding: 5px 10px;
  border: none;
  background: #2F80ED;
  border-radius: 5px;
  color: #F2F2F2;
}

.section-add-withdraw-cash .back-button {
  position: absolute;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  background: #2F80ED;
  border-radius: 5px;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-add-withdraw-cash .back-button a {
  text-decoration: none;
  font-size: 130%; 
  color: #F2F2F2;
}

/*****************************************/
/*************MY LOANS SECTION***************/
/*****************************************/
.section-my-loans {
  margin: 40px auto 110px auto;
}

.section-my-loans h2 {
  text-align: center;
  font-size: 200%;
  margin-bottom: -5px;
}


.section-my-loans p {
  margin: 25px 0;
}

.section-my-loans p a {
  display: block;
  width: 65%;
  padding: 7px 15px;
  margin: 0 auto;
  background: #2F80ED;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  font-size: 120%;
  color: #F2F2F2;
}

.section-my-loans .back-button a {
  width: 30%;
  text-align: center;
}

.section-my-loans p:nth-last-of-type(1) a {
  background: rgb(116, 0, 0);
}

.section-my-loans .user-note {
  color: rgb(116, 0, 0);
  width: 65%;
  margin: -20px auto 0 auto;
}

/*****************************************/
/*************NEW CHARGE***************/
/*****************************************/
.section-new-charge {
  position: relative;
  margin: 40px auto 110px auto;
  width: 70%;
  height: 400px;
}

.section-new-charge .form-and-button {
  position: absolute;
  width: 100%;
  top: 20%;
  border: 1px solid #2F80ED;
  padding: 20px 20px;
  text-align: center;
  border-radius: 7px;
}

.section-new-charge .amount {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.section-new-charge .amount span {
  font-size: 200%;
}

.section-new-charge .stripe-button-el {
  height: 50px;
  margin-bottom: -20px;
}

.section-new-charge button span {
  font-size: 120%;
  padding: 0px 20px;
  background: none;
  text-decoration: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0px;
}

.section-new-charge .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  background: #2F80ED;
  border-radius: 5px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-new-charge .back-button a {
  text-decoration: none;
  font-size: 130%; 
  color: #F2F2F2;
}

/*****************************************/
/*************CREARTE CHARGE***************/
/*****************************************/
.section-create-charge {
  position: relative;
  height: 400px;
}

.section-create-charge h2 {
  text-align: center;
  font-size: 180%;
  width: 85%;
  margin: 150px auto 0px auto;
}

.section-create-charge .back-button {
  position: relative;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  background: #2F80ED;
  border-radius: 5px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-create-charge .back-button a {
  text-decoration: none;
  font-size: 150%; 
  color: #F2F2F2;
}

/*****************************************/
/*************NEW/EDIT LOAN APPLICAION***************/
/*****************************************/
.section-loan-application {
  margin: 40px auto 110px auto;
  width: 85%;
}

.section-loan-application h2 {
  text-align: center;
  font-size: 200%;
}

.section-loan-application .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0 10px 0;
  background: #2F80ED;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-loan-application .back-button a {
  text-decoration: none;
  font-size: 120%; 
  color: #F2F2F2;
}

.loan-form {
  position: relative;
}

.loan-form .field {
  margin: 15px 0;
}

.loan-form label {
  display: block;
  font-size: 110%;
}

.loan-form input[type="text"],
.loan-form input[type="number"],
.loan-form select {
  background: none;
  border: none;
  border-bottom: 1px solid #4F4F4F;
  width: 90%;
  font-size: 110%;
}

#loan_application_loan_amount,
#loan_application_weekly_income,
#loan_application_weekly_expenses{
  width: 50%;
}

.loan-form select {
  width: 50%;
}

.loan-form textarea {
  background: none;
  border: 1px solid #4F4F4F;
  width: 90%;
  font-size: 110%;
}

.loan-form .actions {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
}

.loan-form input[value="Save"],
.loan-form input[value="Submit"] {
  background: #2F80ED;
  border: none;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 3px 8px;
  width: 100px;
  font-size: 120%;
  color: #F2F2F2;
}

/*****************************************/
/********LOANS SAVED/BEING ASSESSED SECTION********/
/*****************************************/
.section-application-index {
  margin: 30px auto 110px auto;
}

.section-application-index h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 200%;
}

.section-application-index .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0;
  background: #2F80ED;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-application-index .back-button a {
  text-decoration: none;
  font-size: 120%; 
  color: #F2F2F2;
}

.section-application-index .whole-table {
  width: 90%;
  margin: 0 auto;
}

.section-application-index .column-heading {
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: -10px;
  border-bottom: 1px solid #2F80ED;
  font-size: 110%;
}

.section-application-index .one-loan {
  width: 90%;
  margin-top: 25px;
  font-size: 110%;
}

.section-application-index .column-created-at {
  display: inline-block;
  width: 29%;
}

.section-application-index .column-purpose {
  display: inline-block;
  width: 36%;
}

.section-application-index .column-amount {
  display: inline-block;
  width: 32%;
}

.section-application-index .edit-or-destroy a {
  margin-top: 10px;
  margin-right: 20px;
  display: inline-block;
  width: 100px;
  font-size: 100%;
  text-decoration: none;
  padding: 3px 0;
  background: #2F80ED;
  border: none;
  border-radius: 5px;
  color: #F2F2F2;
  text-align: center;
}

.section-application-index .view-application a {
  margin-top: 10px;
  margin-right: 20px;
  display: inline-block;
  width: 100px;
  font-size: 100%;
  text-decoration: none;
  padding: 3px 0;
  background: #2F80ED;
  border: none;
  border-radius: 5px;
  color: #F2F2F2;
  text-align: center;
}

/*****************************************/
/*********VIEW ONE APPLICAION SECTION*********/
/*****************************************/
.view-one-loan {
  margin: 20px auto 110px auto;
}

.view-one-loan h2 {
  text-align: center;
  font-size: 200%;
}

.view-one-loan .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0 5px 0;
  background: #2F80ED;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0)
}

.view-one-loan .back-button a {
  text-decoration: none;
  font-size: 120%; 
  color: #F2F2F2;
}

.view-one-loan .one-loan-application {
  width: 90%;
  margin: 0 auto;
}

.view-one-loan .one-field {
  margin: 15px 0;
  font-size: 110%;
}

.view-one-loan .one-field p {
  padding: 2px 0;
}

/*****************************************/
/*********MT ACTIVE LOANS SECTION*********/
/*****************************************/
.section-my-active-loans {
  margin: 30px auto 110px auto;
}

.section-my-active-loans h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 200%;
}

.section-my-active-loans .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0;
  background: #2F80ED;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-my-active-loans .back-button a {
  text-decoration: none;
  font-size: 120%; 
  color: #F2F2F2;
}

.section-my-active-loans .whole-table {
  width: 90%;
  margin: 0 auto;
}

.section-my-active-loans .column-heading {
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: -10px;
  border-bottom: 1px solid #2F80ED;
  font-size: 110%;
}

.section-my-active-loans .one-active-loan {
  width: 90%;
  margin: 25px auto 0 auto;
  font-size: 110%;
}

.section-my-active-loans .column-created-at {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-active-loans .column-purpose {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-active-loans .column-amount {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-active-loans .fourth-column {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-active-loans .view-active-loan a {
  margin-top: 10px;
  display: inline-block;
  font-size: 100%;
  width: 130px;
  text-decoration: none;
  padding: 3px 0;
  background: #2F80ED;
  border: none;
  border-radius: 5px;
  color: #F2F2F2;
  text-align: center;
}

/*****************************************/
/************ACTIVE LOAN SHOW PAGE************/
/*****************************************/
.section-one-active-loan {
  width: 80%;
  margin: 40px auto 110px auto;
}

.section-one-active-loan h2 {
  text-align: center;
  font-size: 200%;
}

.section-one-active-loan .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0 5px 0;
  background: #2F80ED;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-one-active-loan .back-button a {
  text-decoration: none;
  font-size: 120%; 
  color: #F2F2F2;
}

.section-one-active-loan .amount-input-area {
  border: 1px solid #2F80ED;
  border-radius: 10px;
  margin: 20px auto 5px auto;
  padding: 10px;
  width: 80%;
  font-size: 120%;
}

.section-one-active-loan .amount-input-area label {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-size: 120%;
}

.section-one-active-loan .amount-input-area input[type="number"] {
  display: inline-block;
  padding: 5px 0;
  font-size: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #4F4F4F;
}

.section-one-active-loan .amount-input-area input[type="submit"] {
  display: inline-block;
  padding: 8px 0;
  margin: 15px 0 8px 0;
  font-size: 100%;
  width: 70%;
  background: #2F80ED;
  border: none;
  border-radius: 4px;
  color: #F2F2F2;
}

.section-one-active-loan .one-field {
  display: inline-block;
  margin: 15px 0;
  font-size: 110%;
  width: 49%
}

.section-one-active-loan .fullwidth {
  width: 100%;
}

.section-one-active-loan .one-field p {
  padding: 2px 0;
}

/*****************************************/
/*********MT INVESTMENTS SECTION*********/
/*****************************************/
.section-my-investments {
  margin: 30px auto 110px auto;
}

.section-my-investments h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 200%;
}

.section-my-investments .back-button {
  position: relative;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0;
  background: #2F80ED;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0)
}

.section-my-investments .back-button a {
  text-decoration: none;
  font-size: 120%; 
  color: #F2F2F2;
}

.section-my-investments .whole-table {
  width: 90%;
  margin: 0 auto;
}

.section-my-investments .column-heading {
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: -10px;
  border-bottom: 1px solid #2F80ED;
  font-size: 110%;
}

.section-my-investments .one-investment {
  width: 90%;
  margin: 25px auto 0 auto;
  font-size: 110%;
}

.section-my-investments .column-created-at {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-investments .column-amount {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-investments .column-interest-rate {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-investments .fourth-column {
  display: inline-block;
  width: 22%;
  margin-right: 1.5%;
  text-align: center;
}

.section-my-investments .view-active-loan a {
  margin-top: 10px;
  display: inline-block;
  font-size: 100%;
  width: 130px;
  text-decoration: none;
  padding: 3px 0;
  background: #2F80ED;
  border: none;
  border-radius: 5px;
  color: #F2F2F2;
  text-align: center;
}

/*****************************************/
/*************FOOTER***************/
/*****************************************/
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  background: #2F80ED;
  text-align: center;
}