<section class="section-create-charge">
  <h2>Thanks, you have deposited <%= number_to_currency(@amount/100, percision: 2) %></h2>

  <div class="back-button">
    <%= link_to "Back", root_path %>
  </div>

</section>